
.upload-btn-container {
    display: flex;
    gap: 5rem;
    margin-top: 2rem;
    display: flex;
}

#upload-btn {
    background: radial-gradient(lightgrey, transparent);
    color: #ff9900;
}

.upload-csv-view {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
}

.upload-file-container {
    display: grid;

}

.align-center {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.file-type-containe {
    display: flex;
}

.submit-upload {
    margin-top: 2rem !important;
    width: 8rem !important;
    margin-left: auto !important;
    margin-right: auto !important;
}