
.attendance-table-header {
    background: #f6b26b !important;
    color: white !important;
}

/*.agents-details-container {*/
/*    height: 78vh;*/
/*    overflow-y: auto;*/
/*    padding: 10px;*/
/*}*/

/*.agents-details-container::-webkit-scrollbar {*/
/*    width: 0;*/
/*    display: none;*/
/*}*/

.agent-details {
    border: 1px solid black;
    font-size: 0.8rem;
}

.attendance-dropdown {
   width: 1rem;
   margin-left: -0.5rem;
}

.attendance-dropdown input {
    font-size: 0.6rem;
}

.attendance-dropdown .MuiIconButton {
    display : none
}
.attendance-dropdown .MuiOutlinedInput-notchedOutline {
    border: none !important;
}